h1{
  font-size: 4rem;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(165, 92, 92);

}
:root {
  --main-white: #f0f0f0;
  --main-red: #470d15;
  --main-blue: #45567d;
  --main-gray: #303841;

}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--main-white);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  height: 15%;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  
}
 

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #114e8b 0%, #181719 100%);
    
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: rgb(22, 9, 34)
  }


  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(110% - 100px);
    width: 100%;
    object-fit: cover;
    
    
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    background: var(--main-gray);
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    display: inline-block;
    
  }
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }

  p {
    font-size: 20px;
  }

  body {
    background-color: rgb(79, 140, 151);
  }